# === Compilação geral (C/C++) ===
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

# === CMake ===
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/
_build/
out/
Debug/
Release/

# Ninja build files
.ninja
.ninja_deps
.ninja_log

# CLion / CMake IDE files
.idea/
*.iml

# === vcpkg ===
vcpkg_installed/
vcpkg_buildtrees/
vcpkg_packages/
vcpkg_downloads/

# Se você clonar o vcpkg dentro do projeto:
vcpkg/

# Logs
*.log

# === VSCode ===
.vscode/

# === Outros ===
*.DS_Store
Thumbs.db
*.tmp
flow.txt
structure.txt
